@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/* @import url(../components/root.css); */

.container{
    background:linear-gradient(45deg, var(--color-gradient-left), var(--color-gradient-right));
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
    text-shadow: 25;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}


@media (max-width:768px){
    .container{
        padding:20px;
    }
}